html #wpadminbar {display: none !important;}

/* MENU */
#visual-editable-content-menu {background-color: rgba(167, 167, 167, 0.6); border-bottom: 2px solid #7E7D7D; position: fixed; /*top: 32px;*/ top: 0px; left: 0px; width: 100%; padding: 10px; z-index: 999999;}
#visual-editable-content-menu .visual-editable-content-menu-right-buttons {float: right;}
#visual-editable-content-menu .visual-editable-content-menu-right-buttons #visual-editable-content-global-save {}
#visual-editable-content-menu .visual-editable-content-menu-right-buttons #visual-editable-content-global-close {}


/* Effets roll over */
[data-vec='content'] [data-vec~='txt']:hover {background-color: #8AE6EB; box-shadow: 0px 0px 0px 2px #0000FF;}
[data-vec='content'] [data-vec~='pic']:hover {/*box-shadow: 0px 0px 0px 2px #00FF00 inset;*/ filter: brightness(1.5);}
[data-vec='content'] [data-vec~='carousel-container']:hover {background-color: #E0D7E6; box-shadow: 0px 0px 0px 2px #8200ff;}

/* POPIN */
#visual-editable-content-overlay {position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: #000000; opacity: 0.3; zoom: 1; filter: alpha(opacity=30); z-index: 6000; display: none;}
#visual-editable-content-overlay.open {display: block;}
.visual-editable-content-popin {background-color: #FFFFFF; border-radius: 10px; box-shadow: 0px 0px 4px 4px #656565; padding: 20px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 90%; z-index: 6001; cursor: move; display: none;}
.visual-editable-content-popin.open {display: block;}
.visual-editable-content-popin * {cursor: auto;}
.visual-editable-content-popin p.visual-editable-content-popin-title {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-align: center; color: #000000;}
/*.visual-editable-content-popin textarea,*/
.visual-editable-content-popin .editor,
.visual-editable-content-popin .editor-carousel {display: block; width: 80%; height: 400px; overflow: auto; margin: 0 auto; padding: 5px; border: 2px solid #000000; resize: none;}

.visual-editable-content-popin .line {padding: 10px 0; text-align: justify; -webkit-transition: opacity 400ms ease 0s; transition: opacity 400ms ease 0s;}
.visual-editable-content-popin .line:after {content: ""; display: inline-block; width: 100%;}
.visual-editable-content-popin .line.add {opacity: 0;}
.visual-editable-content-popin .line.added {opacity: 1;}
.visual-editable-content-popin .line.deleted {opacity: 0;}
.visual-editable-content-popin .line .num {display: inline-block; width: 15%;}
.visual-editable-content-popin .line .editor-carousel {display: inline-block; vertical-align: middle; height: 100px; resize: both;}

.visual-editable-content-popin .visual-editable-content-buttons {margin-top: 30px; text-align: right;}
.visual-editable-content-popin .visual-editable-content-buttons .visual-editable-content-button {margin-right: 20px;}
.visual-editable-content-popin .visual-editable-content-buttons .visual-editable-content-button:last-child {margin-right: 0px;}

.visual-editable-content-button {background-color: #4D39F2; display: inline-block; border-radius: 5px; padding: 8px 15px; cursor: pointer;}
.visual-editable-content-button:hover {background-color: #2515A4;}
.visual-editable-content-button span {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-align: center; color: #FFFFFF; cursor: pointer;}

.visual-editable-content-button.visual-editable-content-button-visual-editable-content-button-cancel {background-color: #1CBE1A;}
.visual-editable-content-button.visual-editable-content-button-visual-editable-content-button-cancel:hover {background-color: #06A704;}
.visual-editable-content-button.visual-editable-content-button-cancel {background-color: #D70A0A;}
.visual-editable-content-button.visual-editable-content-button-cancel:hover {background-color: #B72222;}


/* BAR MENU BOUTONS */
#visual-editable-content-txt-menu {margin-bottom: 5px;}
.visual-editable-content-txt-button {box-sizing: content-box; border: 1px solid #999999; border-radius: 5px; display: inline-block; width: 25px; height: 25px; line-height: 24px; margin-right: 3px; text-align: center; cursor: pointer;}
.visual-editable-content-txt-button.remove {display: none;}
.visual-editable-content-txt-button:last-child {margin-right: inherit;}
.visual-editable-content-txt-button:hover {border-color: #000000;}
.visual-editable-content-txt-button:active {box-shadow: 0 0 4px 2px #CCCCCC inset;}
.visual-editable-content-txt-button span {display: inline-block; vertical-align: middle; line-height: normal; cursor: pointer;}
.visual-editable-content-txt-button.visual-editable-content-txt-button-link span {font-size: 12px;}
.visual-editable-content-txt-button.visual-editable-content-txt-button-unlink span {font-size: 12px; text-decoration: line-through;}
.visual-editable-content-txt-button.visual-editable-content-txt-button-list span {background: transparent url(../images/editor_buttons/list.png) no-repeat center center; width: 20px; height: 20px; vertical-align: -1px;}

.carousel-buttons {text-align: right; padding: 5px 5% 0 0;}
.visual-editable-content-txt-button.visual-editable-content-txt-button-carousel-add span {font-size: 28px; line-height: 27px; color: #0000FF;}
.visual-editable-content-txt-button.visual-editable-content-txt-button-carousel-delete span {font-size: 32px; line-height: 27px; color: #FF0000; -webkit-transform: rotate(45deg); transform: rotate(45deg);}

